@theme {
  --font-sans:
    'Pretendard JP Variable', 'Pretendard Variable', 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  --font-mono: 'Roboto Mono', ui-monospace, monospace;
  --font-brand: 'Bungee', cursive;

  --container-page: 1300px;

  --shadow-s1: 0 1px 4px 0 #00000014;
  --shadow-s2: 0 2px 10px 0 #0000001a;
  --shadow-s3: 0 4px 16px 0 #0000001f;

  --color-palette-gray-00: #ffffff;
  --color-palette-gray-100: #f7f8f9;
  --color-palette-gray-200: #f3f4f5;
  --color-palette-gray-300: #eeeff1;
  --color-palette-gray-400: #dcdee3;
  --color-palette-gray-500: #d1d3d8;
  --color-palette-gray-600: #b0b3ba;
  --color-palette-gray-700: #868b94;
  --color-palette-gray-800: #555d6d;
  --color-palette-gray-900: #2a3038;
  --color-palette-gray-1000: #1a1c20;

  --color-palette-blue-00: #fbfcfd;
  --color-palette-blue-100: #eff6ff;
  --color-palette-blue-200: #e2edfc;
  --color-palette-blue-300: #cbdffa;
  --color-palette-blue-400: #adccf9;
  --color-palette-blue-500: #86b3fa;
  --color-palette-blue-600: #5e98fe;
  --color-palette-blue-700: #217cf9;
  --color-palette-blue-800: #135fcd;
  --color-palette-blue-900: #0b4596;
  --color-palette-blue-1000: #063474;

  --color-palette-red-00: #fcf9f9;
  --color-palette-red-100: #fdf0f0;
  --color-palette-red-200: #fde7e7;
  --color-palette-red-300: #fed4d2;
  --color-palette-red-400: #fdbbb7;
  --color-palette-red-500: #fc9a93;
  --color-palette-red-600: #fb7369;
  --color-palette-red-700: #fa342c;
  --color-palette-red-800: #ca1d13;
  --color-palette-red-900: #921708;
  --color-palette-red-1000: #6d1105;

  --color-palette-green-00: #fcfdfd;
  --color-palette-green-100: #edfaf6;
  --color-palette-green-200: #d9f6e9;
  --color-palette-green-300: #b9e9d2;
  --color-palette-green-400: #94d9bb;
  --color-palette-green-500: #6cc3a2;
  --color-palette-green-600: #44ac8a;
  --color-palette-green-700: #079171;
  --color-palette-green-800: #00745f;
  --color-palette-green-900: #075445;
  --color-palette-green-1000: #043f33;

  --color-palette-yellow-00: #fefefc;
  --color-palette-yellow-100: #fff7de;
  --color-palette-yellow-200: #fdefb9;
  --color-palette-yellow-300: #fbdc65;
  --color-palette-yellow-400: #e9c647;
  --color-palette-yellow-500: #d0ac3a;
  --color-palette-yellow-600: #b7932e;
  --color-palette-yellow-700: #9b7821;
  --color-palette-yellow-800: #755b22;
  --color-palette-yellow-900: #4f3e1f;
  --color-palette-yellow-1000: #3a2d15;

  --color-palette-brand-00: #fdfafa;
  --color-palette-brand-100: #fff0f0;
  --color-palette-brand-200: #ffe0e0;
  --color-palette-brand-300: #ffcccc;
  --color-palette-brand-400: #fd9a98;
  --color-palette-brand-500: #f74b4b;
  --color-palette-brand-600: #e24242;
  --color-palette-brand-700: #cd3636;
  --color-palette-brand-800: #a92d2d;
  --color-palette-brand-900: #7c1e1c;
  --color-palette-brand-1000: #5e1513;

  --color-palette-static-black-alpha-200: #0000000c;
  --color-palette-static-black-alpha-300: #00000010;

  --color-fg-neutral: var(--color-palette-gray-1000);
  --color-fg-neutral-muted: var(--color-palette-gray-800);
  --color-fg-neutral-subtle: var(--color-palette-gray-700);
  --color-fg-neutral-inverted: var(--color-palette-gray-00);
  --color-fg-placeholder: var(--color-palette-gray-600);
  --color-fg-brand: var(--color-palette-brand-700);
  --color-fg-brand-contrast: var(--color-palette-brand-800);
  --color-fg-critical: var(--color-palette-red-700);
  --color-fg-critical-contrast: var(--color-palette-red-900);
  --color-fg-positive: var(--color-palette-green-700);
  --color-fg-positive-contrast: var(--color-palette-green-900);
  --color-fg-warning: var(--color-palette-yellow-700);
  --color-fg-warning-contrast: var(--color-palette-yellow-900);
  --color-fg-informative: var(--color-palette-blue-700);
  --color-fg-informative-contrast: var(--color-palette-blue-900);
  --color-fg-disabled: var(--color-palette-gray-500);

  --color-bg-layer-basement: var(--color-palette-gray-200);
  --color-bg-layer-default: var(--color-palette-gray-00);
  --color-bg-layer-floating: var(--color-palette-gray-00);
  --color-bg-neutral-weak: var(--color-palette-gray-200);
  --color-bg-neutral-weak-hover: var(--color-palette-gray-300);
  --color-bg-neutral-solid: var(--color-palette-gray-1000);
  --color-bg-neutral-solid-hover: var(--color-palette-gray-900);
  --color-bg-neutral-solid-muted: var(--color-palette-gray-800);
  --color-bg-neutral-inverted: var(--color-palette-gray-900);
  --color-bg-brand-solid: var(--color-palette-brand-500);
  --color-bg-brand-solid-hover: var(--color-palette-brand-600);
  --color-bg-brand-weak: var(--color-palette-brand-100);
  --color-bg-brand-weak-hover: var(--color-palette-brand-200);
  --color-bg-critical-solid: var(--color-palette-red-800);
  --color-bg-critical-solid-hover: var(--color-palette-red-900);
  --color-bg-critical-weak: var(--color-palette-red-100);
  --color-bg-critical-weak-hover: var(--color-palette-red-200);
  --color-bg-positive-solid: var(--color-palette-green-700);
  --color-bg-positive-solid-hover: var(--color-palette-green-800);
  --color-bg-positive-weak: var(--color-palette-green-100);
  --color-bg-positive-weak-hover: var(--color-palette-green-200);
  --color-bg-warning-solid: var(--color-palette-yellow-300);
  --color-bg-warning-weak: var(--color-palette-yellow-100);
  --color-bg-warning-weak-hover: var(--color-palette-yellow-200);
  --color-bg-informative-solid: var(--color-palette-blue-700);
  --color-bg-informative-solid-hover: var(--color-palette-blue-800);
  --color-bg-informative-weak: var(--color-palette-blue-100);
  --color-bg-informative-weak-hover: var(--color-palette-blue-200);
  --color-bg-disabled: var(--color-palette-gray-200);

  --color-stroke-neutral-contrast: var(--color-palette-gray-1000);
  --color-stroke-neutral-weak: var(--color-palette-gray-400);
  --color-stroke-neutral-muted: var(--color-palette-static-black-alpha-300);
  --color-stroke-neutral-subtle: var(--color-palette-static-black-alpha-200);
  --color-stroke-neutral-solid: var(--color-palette-gray-800);
  --color-stroke-brand-solid: var(--color-palette-brand-800);
  --color-stroke-brand-weak: var(--color-palette-brand-300);
  --color-stroke-critical-solid: var(--color-palette-red-700);
  --color-stroke-critical-weak: var(--color-palette-red-300);
  --color-stroke-positive-solid: var(--color-palette-green-700);
  --color-stroke-positive-weak: var(--color-palette-green-300);
  --color-stroke-warning-solid: var(--color-palette-yellow-700);
  --color-stroke-warning-weak: var(--color-palette-yellow-300);
  --color-stroke-informative-solid: var(--color-palette-blue-700);
  --color-stroke-informative-weak: var(--color-palette-blue-300);
  --color-stroke-focus-ring: var(--color-palette-blue-600);
}
